<p id="notice"><%= notice %></p>

<% @todo_list.todo_items.each do |todo_item| %>
  <p>
    <strong>Title:</strong>
    <%= todo_item.title %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= todo_item.due_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= todo_item.description %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= todo_item.completed %>
  </p>
<% end %>

<%= link_to 'Edit', edit_todo_list_todo_item_path(@todo_list, @todo_item) %> |
<%= link_to 'Back', @todo_list %>
